<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overpaoered.robotremote" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

<application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    <!--
    Key for Google Maps API
    -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyB9hZ81HcCpI0BZD_dRj163E46tB4I08eg" />

        <activity
            android:label="Drone Remote"
            android:name=".LocationListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DroneRemoteActivity"
            android:label="@string/title_activity_location_list"
            android:parentActivityName=".DroneRemoteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.overpaoered.robotremote.DroneRemoteActivity" />
        </activity>
    </application>

</manifest>
